# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\aakri\PycharmProjects\CollegeERP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
